body {
  background: radial-gradient(#FAFAFA, #e4e3e3, #dddddd, #a8a8a8);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%
}  

.fallout-header {
  margin-top: 1px;
  width: 100%;
}

.titre-header {
  position:absolute;
  top: 120px;
  color: white;
  margin-left: 150px;
}

.dark-bold-size {
  font-weight: 700;
  font-size: 95px;
  text-align: left;
}

.lighter-orange {
  font-weight: 100;
  color: #d4af37;
  font-size: 95px;
}

.rectangle {
  width:40px;
  background:#d4af37;
  position: absolute;
  padding-top: 13px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 5px;
}

.bethesda {
  font-weight: 700;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 42px;
  
}

.texte-header {
  padding-left: 100px;
  padding-top: 20px;
}

.lighter-size-italic {
  font-weight: 300;
  font-style: italic;
  font-size: 43px;
}

/* Section*/

section {
  height: 650px;  
}

.border-line {
  width:5px;
  border-left:10px solid #d4af37;
  height:400px;
  position: absolute;
  margin-left: 200px;
  margin-top: 70px;
}

.first-p {

  text-align: justify;
  padding-top: 50px;
  margin-left: 50px;
  padding-left: 230px;
  padding-right: 170px;
  margin-right: 50px;
  line-height: 24px;
}

.dark-bold-italique {
  font-weight: 900;
  font-style: italic;
  font-size: 16px;
}

.orange-bold-italique {
  font-weight: 700;
  color: #d4af37;
  font-style: italic;
  font-size: 16px;
}

.second-p {
  text-align: justify;
  margin-left: 50px;
  padding-left: 230px;
  padding-right: 170px;
  margin-right: 50px;
  line-height: 24px;
  padding-top: 20px;
}

.lighter {
  font-weight: 100;
  font-size: 24px;
}

.liste {
  text-align: justify;
  font-size: 16px; 
  line-height: 24px;
  padding-top: 20px;
}

.dark-bold-italique-liste {
  font-weight: 700;
  font-style: italic;
}

.orange-bold-italique-liste {
  font-weight: 700;
  font-style: italic;
}

.lighter-italique {
  font-weight: 300; 
  font-style: italic;
}


/*partie intermédiaire*/

.roue-text-boy {
  margin-bottom: 79px;
  position: relative;
  bottom: 90px;
}

.roue-mecanique-img {
  float: right;
  margin-right: 130px;
}

.roue-mecanique {
  width: 200px;
}


.space {
  text-align: center;
  line-height: 23px;
  float: right;
  position: absolute;
  padding-top: 55px;
  padding-left: 27px;

}

.dark-bold-size-footer {
  font-weight: 700;
  font-style: italic;
  font-size: 30px;
}

.lighter-orange-footer {
  font-weight: 700;
  font-size: 30px;
}

.lighter-italique-footer {
  font-weight: 100;
  font-style: italic;
  font-size: 18px;
}

.dark-bold-italique-footer {
  font-weight: 900;
  font-style: italic;
  font-size: 18px;
  line-height: 10px;
}

.guy-boy-img {
  float: left;
  margin-left: 130px;
}

.boy-img {
  width: 200px;
}

.background-black-footer {
  background: linear-gradient(0deg, rgb(17, 17, 17), rgb(41, 41, 41));
  color: #FAFAFA;
  margin-top: 40px;
  text-align: center;
  height: 250px;
}

@font-face {
  font-family: 'QuentyYellow-Personalused';
  src : url('QuentyYellow-Personalused.otf');
}


.good-job {
  font-family: 'QuentyYellow-Personalused';
  font-size: 30px;
  padding-top: 60px;
}


@media screen and (max-width: 768px){
  .titre-header {
    top: 30px;
    margin-left: 40px;
  
  } 
    
  .dark-bold-size {
    font-size: 45px;
  }
    
  .lighter-orange {
    font-size: 45px;
  }
    
  .rectangle {
    padding-right: 0px;
   
  }
    
  .bethesda {
    font-size: 30px;
  }
    
  .texte-header {
    padding-left: 60px;
    padding-top: 0px;
  }
    
  .lighter-size-italic {
    font-size: 28px;
  }
  
  section {
    height: 700px;  
  }
  
  .border-line {
    margin-left: 75px;
    margin-top: 50px;
  }
  
  
  .first-p {
    margin-left: 40px;
    padding-left: 80px;
    padding-right: 70px;
    margin-right: 0px;
    font-size: 15px;
    padding-top: 30px;
  }
  
  .second-p {
    margin-left: 40px;
    padding-left: 80px;
    padding-right: 70px;
    margin-right: 0px;
    font-size: 15px;
    padding-top: 0px;
  }
  
  
  .lighter {
    line-height: 24px;
    font-size: 15px;
  }
  
  .liste {
    text-align: justify;
    font-size: 15px; 
    line-height: 24px;
    padding-top: 0px;
  }
  .orange-bold-italique{
    font-size: 15px;
  }
  
  .dark-bold-italique{
    font-size: 15px;
  }
  
  .dark-bold-italique-liste {
    font-size: 15px;;
  }
  
  .orange-bold-italique-liste {
    font-size: 15px;
  }
  
  .lighter-italique {
    font-size: 15px;
  }
  
  .roue-text-boy {
    margin-bottom: 60px;
  }
  
  .background-black-footer {
  
    height: 200px;
  }
  
  .roue-text-boy {
    bottom: 60px;
  }
  
  .roue-mecanique-img {
    margin-right: 40px;
    bottom: 10px;
  }
  
  .roue-mecanique {
    width: 140px;
  }
  
  .space {
  
    padding-top: 15px;
    padding-left: 15px;
  }
  
  .dark-bold-size-footer {
    font-size: 20px;
  }
  
  .lighter-orange-footer {
  
    font-size: 20px;
  }
  
  .lighter-italique-footer {
    font-size: 20px;
  }
  
  
  .dark-bold-italique-footer {
    font-size: 12px;
  }
  
  .guy-boy-img {
    margin-left: 40px;
  }
  
  .boy-img {
    width: 140px;
  }
  
  .good-job {
    padding-top: 40px;
  }
  }
  
  
  
  @media screen and (min-width: 769px) and (max-width: 992px){
  .titre-header {
    top: 10px;
    margin-left: 65px;
    margin-top: 75px;
  } 
  
  .dark-bold-size {
    font-size: 70px;
  }
    
  .lighter-orange {
    font-size: 70px;
  }
    
  .rectangle {
    padding-right: 5px;
  }
    
  .bethesda {
    font-size: 37px;
  }
    
  .texte-header {
    padding-left: 70px;
    padding-top: 0px;
  }
    
  .lighter-size-italic {
    font-size: 39px;
  }
  
  section {
    height: 600px;  
  }
  
  .border-line {
    margin-left: 100px;
    margin-top: 50px;
  }
  
  
  .first-p {
    margin-left: 20px;
    padding-left: 135px;
    padding-right: 100px;
    margin-right: 0px;
    font-size: 16px;
    padding-top: 30px;
  }
  
  .second-p {
    margin-left: 20px;
    padding-left: 135px;
    padding-right: 100px;
    margin-right: 0px;
    font-size: 16px;
    padding-top: 0px;
  }
  
  
  .lighter {
    line-height: 24px;
    font-size: 16px;
  }
  
  .liste {
    text-align: justify;
    font-size: 16px; 
    line-height: 24px;
    padding-top: 0px;
  }
  .orange-bold-italique{
    font-size: 16px;
  }
  
  .dark-bold-italique{
    font-size: 16px;
  }
  
  .dark-bold-italique-liste {
    font-size: 16px;;
  }
  
  .orange-bold-italique-liste {
    font-size: 16px;
  }
  
  .lighter-italique {
    font-size: 16px;
  }
  
  .roue-text-boy {
    margin-bottom: 60px;
  }
  
  .background-black-footer {
  
    height: 200px;
  }
  
  .roue-mecanique-img {
    margin-right: 50px;
  }
  
  .roue-mecanique {
    width: 180px;
  }
  
  .space {
  
    padding-top: 30px;
    padding-left: 35px;
  }
  
  .dark-bold-size-footer {
    font-size: 20px;
  }
  
  .lighter-orange-footer {
  
    font-size: 20px;
  }
  
  .lighter-italique-footer {
    font-size: 20px;
  }
  
  
  .dark-bold-italique-footer {
    font-size: 14px;
  }
  
  .guy-boy-img {
    margin-left: 50px;
  }
  
  .boy-img {
    width: 180px;
  }
  
  .good-job {
    padding-top: 40px;
  }
  
  }
  